body {
  font-family: "Marcellus", serif;
  margin: 0px;
}
ul {
  list-style: none;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 36px 0px;
}
.navul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.primary-button {
  color: white;
  border: 5px;
  padding: 10px 0px;
  width: 120px;
  background-color: #3f95ec;
}
#hero {
  width: 80%;
  margin: 0px auto;
  height: 100vh;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  margin: 12px 0px 0px 0px;
}
.hero-tittle {
  font-size: 62px;
  width: fit-content;
}
.hero-p {
  width: 47%;
}
.title2 {
  display: flex;
  gap: 3%;
  align-items: center;
}
#page_2 {
  background-color: #122438;
  overflow: hidden;
  margin-top: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.page_2-img {
  width: 550px;
  height: 280px;
}
.title {
  font-size: 36px;
  color: white;
}
.page_2-p {
  color: white;
  font-size: 16px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.gallery-card {
  width: 30%;
  background-color: white;
  border: 10px solid white;
}
.card-img {
  width: 100%;
  height: 250px;
}
.card-text {
  margin-top: 12px;
}
.card-link {
  color: #3f95ec;
}
.page_2-contianer {
  width: 80%;
  margin: 0% auto;
}
.text-contianer {
  display: flex;
  gap: 40px;
}
.title-2-container {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.card-title {
  font-size: 20px;
}
.second-gallery-title {
  display: flex;
  gap: 3%;
  justify-content: space-between;
  font-size: 35px;
  margin-bottom: 25px;
  color: hsl(0, 0%, 0%);
}
#second-gallery {
  background-color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 80%;
  margin: 0px auto;
  color: hsl(0, 0%, 100%);
}
.card-img-2 {
  width: 100%;
  height: 550px;
}
.second-gallery-img {
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.7fr;
  grid-column-gap: 24px;
}
.img-center {
  background-image: url("images/maur-img-2.webp");
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 25px;
  position: relative;
}
.section-3-title {
  font-size: 20px;
  color: white;
}
.button-s-g {
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
  font-size: medium;
}
.dark-overlay-1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  align-items: end;
}
.title-contianer {
  padding: 24px;
}
#activities {
  background-color: #122438;
  width: 100%;
  margin: 0px auto;
  padding-top: 64px;
  padding-bottom: 64px;
}
.activities-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 8px;
}
.activities-title {
  font-size: 35px;
  color: white;
  margin-bottom: 25px;
}
.activities-header {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
}
.activity {
  width: 100%;
}
.activities-container {
  width: 80%;
  margin: 0% auto;
}
.activities-button {
  font-size: 10px;
  padding: 10px;
  border: none;
  color: white;
  background-color: #3f95ec;
}
.activities-button:hover {
  background-color: #99b8d6;
  color: #1a3b5a;
}
#feedbacks {
  background-color: white;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 50px;
}
.feedbacks-container {
  display: flex;
  justify-content: space-between;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 10px;
}
.all-feed {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.feed-img {
  display: flex;
  width: 56px;
  height: 56px;
  border-radius: 2000px;
}
.feed-img-container {
  display: flex;
  gap: 16px;
  align-items: center;
}
.feed-discreption {
  font-size: 14px;
  color: gray;
}
.feed-name {
  font-size: 20px;
}
.feed-text {
  margin-top: 16px;
  font-size: 14px;
}
.first-feed {
  flex: 33.33%;
  max-width: 33.33%;
}
.stars-container {
  color: gold;
  margin-top: 12px;
}
.footer {
  background-color: #122438;
  overflow: hidden;
  color: white;
  list-style: none;
}
.footer-holder {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0px auto;
  border-bottom: 1px solid gray;
  padding-bottom: 15px;
}
.footer-container li {
  color: gray;
  margin-bottom: 15px;
}
.footer-container-title {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 86px;
}
.footer-logo {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.icons {
  font-size: 45px;
  color: white;
}
.footer-container-p {
  color: gray;
  width: 280px;
}
.copyright {
  text-align: center;
  margin-bottom: 18px;
  margin-top: 18px;
}
.icons i {
  margin-right: 10px;
}