body {
  font-family: "Marcellus", serif;
  margin: 0px;
}
ul {
  list-style: none;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 36px 0px;
}
.navul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.primary-button {
  color: white;
  border: 5px;
  padding: 10px 0px;
  width: 120px;
  background-color: #3f95ec;
}
#hero {
  width: 80%;
  margin: 0px auto;
  height: 100vh;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  margin: 12px 0px 0px 0px;
}
.hero-tittle {
  font-size: 62px;
  width: fit-content;
}
.hero-p {
  width: 47%;
}
.title2 {
  display: flex;
  gap: 3%;
  align-items: center;
}
#page_2 {
  background-color: #122438;
  overflow: hidden;
  margin-top: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.page_2-img {
  width: 550px;
  height: 280px;
}
.title {
  font-size: 36px;
  color: white;
  /* margin-top: 50px; */
}
.page_2-p {
  color: white;
  font-size: 16px;
}
.gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.gallery-card {
  width: 30%;
  background-color: white;
  border: 10px solid white;
}
.card-img {
  width: 100%;
  height: 250px;
}
.card-text {
  margin-top: 12px;
}
.card-link {
  color: #3f95ec;
}
.page_2-contianer {
  width: 80%;
  margin: 0% auto;
}
.text-contianer {
  display: flex;
  gap: 40px;
}
.title-2-container {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.card-title {
  font-size: 20px;
}
.second-gallery-title {
  display: flex;
  gap: 3%;
  justify-content: space-between;
  font-size: 35px;
  margin-bottom: 25px;
  color: hsl(0, 0%, 0%);
}
#second-gallery {
  background-color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 80%;
  margin: 0px auto;
  color: hsl(0, 0%, 100%);
}
.card-img-2 {
  width: 100%;
  height: 550px;
}
.second-gallery-img {
  display: grid;
  grid-template-columns: 0.7fr 2fr 0.7fr;
  grid-column-gap: 24px;
}
.img-center {
  background-image: url("images/maur-img-2.jpg");
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 25px;
}
.section-3-title {
  font-size: 20px;
  color: white;
}
.button-s-g {
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
  font-size: medium;
}
